body {
	margin: 0;
	padding: 0;
	background: black;
	color: white;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.main{
	background: black;
	max-width: 1366px;
	max-height: 768px;
	height: 96%;
	width: 96%;
	margin: auto;
}

#title{
	float: none;
	width: 1366px;
	height:60px;
	background-color: #0C090A;
	margin-bottom: 20px;
}

	.title_text_main{
		font-weight: bold;
		font-size: 40px;
		color: grey;
		overflow: hidden;
		}

.title_text_small{
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

/* ------- content -----------*/

.time_cont{
	float: right;
	background-color: #E42217;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 20px;
	font-family: "Courier New", Courier, monospace;
	padding: 20px;
	opacity: 0.75;

}

	.time{
		font-size: 60px;
		text-align: center;
		font-weight: bold;
		color: #E5E4E2;/*platinum*/
	}

	.day{
		font-size: 20px;
		text-align: center;
		font-weight: bold;
		color: #E5E4E2;/*platinum*/
	}

.weather{
	clear: right;
	float: right;
	align-items: center;
	padding-right: 30px;
}

.world{
	float: left;
}
