.body {
	margin: 					0;
	padding: 					1%;
	background: 			black;
	color: 						white;
	overflow: 				hidden;
	max-height: 			1358px;
	max-width: 				638px;
	height: 					1358px;
	width: 						638px;
}
#body{
	max-height: 			100%;
	width: 						100%;
	background-color: black;
}
#main{
	float:						left;
	width:						60%;
	height:						70%;
}
#weather_table{
	background-color: white;
	width: 320px;
}
table.weather_today th, td{
	background-color: black;
	width: 						330px;
	padding:					5px;
	}

.time_am_pm{
	font-size: 				20px;
}

#clock{
	float:						left;
}
#am_pm{
	margin-top: 			20px;
	margin-left: 			5px;
	float:						right;
}

/* ------- content -----------*/

#time{
	position: absolute;
	right:20px;
	top: 100px;
	font-family: 			"Courier New", Courier, monospace;
	background-color: black;
}

	.time{
		font-size: 			40px;
		text-align: 		center;
		font-weight: 		bold;
		color: 					#E5E4E2;/*platinum*/
	}

	.day{
		font-size: 			20px;
		text-align: 		center;
		font-weight: 		bold;
		color: 					#E5E4E2;/*platinum*/
	}

#weather_main{
	float:left;
	margin-top:				20px;
	background-color: black;
	margin-bottom: 		300px;
}
	table{
		width: auto;
	}
	td{
		width: 40px;
		align-items: center;
		text-align: center;
		padding: 1px;
	}
	img{
		width:					50px;
		height:					50px;
	}
