body {
	background-color: white;
	font-family: Verdana, "Courier New", "Lucida Console";
	overflow: hidden;
	width: auto;
	height: auto;
	padding: 0px;
}

#main{
	background-color: darkgrey;
	width: auto;
	height: auto;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0px;

}

#title{
	width: 100%;
	height: 10%;
	background-color: black;
	color: white;
	padding: 0px;
}

.title_text_main{
	margin-top: 0px;
	font: Calibri, "Courier New", "Lucinda Console";
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	position: relative;
}

.title_text_small{
	font: Calibri, "Courier New", "Lucinda Console";
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

.time{
	font: Verdana, "Courier New", "Lucida Console";
	font-size: 100px;
	text-align: center;
	font-weight: bold;
	color: black;
}

.day{
	font: Verdana, "Courier New", "Lucida Console";
	font-size: 40px;
	text-align: center;
	font-weight: bold;
	color: black;
}

#world{
	float: left;
}

#time{
	float: right;
}

#weather{
	clear: right;
	float: right;
	align-items: center;
	padding-right: 30px;

}
